<div *ngIf="token">
  <div
    class="flex flex-col sm:grid grid-cols-[3fr_1fr_1fr] gap-14 my-10 mt-40 text-sm"
  >
    <!-- Footer Left Side -->
    <div>
      <img
        src="../../../assets/images/logo.png"
        class="mb-5 w-32"
        alt="Company Logo"
      />
      <p class="w-full md:w-2/3 text-gray-600">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
    </div>

    <!-- Footer Middle Section (Company Links) -->
    <div>
      <p class="text-xl font-medium mb-5">COMPANY</p>
      <ul class="flex flex-col gap-1 text-gray-600">
        <li>Home</li>
        <li>About us</li>
        <li>Delivery</li>
        <li>Privacy policy</li>
      </ul>
    </div>

    <!-- Footer Right Section (Contact Information) -->
    <div>
      <p class="text-xl font-medium mb-5">GET IN TOUCH</p>
      <ul class="flex flex-col gap-1 text-gray-600">
        <li>+1-212-456-7890</li>
        <li>contact&#64;foreveryou.com</li>
      </ul>
    </div>
  </div>

  <div>
    <hr />
    <p class="py-5 text-sm text-center">
      Copyright 2024@ forever.com - All Right Reserved.
    </p>
  </div>
</div>
