<div *ngIf="showSearch" class="border-t border-b bg-gray-50 text-center">
  <div
    class="inline-flex items-center justify-center border border-gray-400 px-5 py-2 my-5 mx-3 rounded-full w-3/4 sm:w-1/2"
  >
    <!-- Input with ngModel for two-way data binding -->
    <input
      [(ngModel)]="search"
      class="flex-1 outline-none bg-inherit text-sm"
      type="text"
      placeholder="Search"
      (change)="handleSetSearchValue()"
    />
    <!-- Image for search icon -->
    <img
      class="w-4"
      src="../../../assets/images/search_icon.png"
      alt="Search Icon"
    />
  </div>
  <!-- Image for close (cross) icon with click event binding -->
  <img
    (click)="setShowSearch()"
    class="inline w-3 cursor-pointer"
    src="../../../assets/images/cross_icon.png"
    alt="Close Icon"
  />
</div>
